# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Trained Models
models/*.pkl

# Generated Forecast Files
data/forecast.csv

# Database
retail_forecast.db

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# OS Files
.DS_Store
Thumbs.db
